streamlit>=1.45.0
pandas
pyodk==1.2.0
streamlit-extras
streamlit-folium
streamlit-slickgrid
streamlit-option-menu
streamlit-authenticator
plotly
folium
Pillow
PyYAML
python-dateutil
numpy
requests
