streamlit==1.29.0
pandas==2.1.4
pyodk==1.2.0
streamlit-extras==0.3.4
streamlit-folium==0.15.0
streamlit-slickgrid==0.2.0
streamlit-option-menu==0.3.6
streamlit-authenticator==0.3.2
plotly==5.18.0
folium==0.15.1
Pillow==10.1.0
PyYAML==6.0.1
python-dateutil==2.8.2
numpy==1.26.4
requests
